body {
    background-color: #0B162C;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    /* overflow: hidden; */
}

h2 {
    font-weight: 300;
    text-align: center;
}

p {
    position: relative;
}

a,
a:link,
a:visited,
a:active {
    color: #5FC2BA;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a:focus,
a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
    color: #52e2d6;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.btn-connection-home,
.btn-retourHome {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="submit"],
.btn-connection-home,
.btn-retourHome {
    border: none;
    display: block;
    background-color: #5FC2BA;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #52e2d6;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#container-allheader {
    font-family: 'Oswald', sans-serif;
    background-color: #1C2942;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    height: 140px;
}

#container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#container-rightheader {
    width: auto;
    display: flex;
    align-items: center;
}


/* === Slider prix === */

.card {
    width: 400px;
    border-radius: 5px;
    padding: 20px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 600;
}

.range-slider {
    width: 400px;
    position: relative;
    margin: 15px 0 30px 0;
}

.range-fill {
    height: 6px;
    background-color: #5FC2BA;
    position: absolute;
    z-index: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #5FC2BA;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}

.btn-retourHome {
    width: 10%;
}


/* === Zone filtres === */

#zone-filtre-container {
    padding-top: 20px;
    margin: auto;
    width: 85%;
    /* border: 5px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#barre-recherche-logement-home {
    width: 100%;
}

#zone-filtre-container-top {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

/* Barre recherche */

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.1rem 0.5rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
    outline: none;
    background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.search__input:focus+.search__button {
    background-color: #f0eeee;
}

.search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    height: 1.1em;
    width: 1.1em;
    fill: #b4b4b4;
}

/* Types logement services et equipements */

.navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navigation li {
    display: inline-block;
}

.navigation a {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}

.navigation a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.navigation li:first-child a {
    border-radius: 4px 0 0 4px;
}

.navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
}

/* Btn submit */
.button--submit {
    min-height: 40px;
    padding: 0.1rem 0.5rem;
    border: none;
    border-radius: 8px ;
    background-color: #3B556D;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #406282;
  }
/* Filtres bottom */
#filtre-deroulant {
    z-index: 9;
    margin-top: 20px;
    border-radius: 30px;
    background: #3B556D;
    opacity: 99%;
    box-shadow: 6px 6px 12px #39526a, -6px -6px 12px #3d5870;
    text-align: center;
    font-weight: bold;
}


.btn-submit-filtre {
    margin-top: 10px;
    min-height: 40px;
    padding: 0.1rem 0.5rem;
    border: none;
    border-radius: 8px ;
    background-color: #5FC2BA;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .btn-submit-filtre:hover {
    background-color: #5ed1c7;
  }

/* === Logements === */

.zone-annonce {
    margin: auto;
    width: 85%;
    text-align: center;
    /* border: 5px solid; */
}

.annonce {
    display: inline-block;
    margin: 30px 5px 0 5px;
    text-align: center;
}

#img-annonce-home {
    width: 301px;
    height: 206px;
}

.zone-prix {
    margin: -200px 0 0 12px;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 0 0 6px #615e61;
}

.description {
    margin: 180px 0 0 0;
    font-size: 14px;
    color: #ffffff;
}

#lien-annonce,
#lien-logo-tmt {
    text-decoration: none;
    color: white;
}


/* === Details logement === */

#img-details-annonce {
    height: 450px;
}

.flex-container-details-logement {
    display: flex;
    margin-left: 50px;
}

.flex-child-details-logement {
    flex: 1;
    /* border: 2px solid ; */
}

.flex-child-details-logement:first-child {
    margin-right: 20px;
    border-right: 2px solid ;
}

.hidden {
    display: none;
}

#imgIconeCompte {
    height: 50px;
}

#details-commentaires-notes{
    border: 2px solid ;
    width: 450px;
}

/*=== Profil ===*/

#btn-profil {
    background-color: transparent;
    text-decoration: none;
}

#container-rightheader {
    width: 210px;
    height: 150px;
    position: relative;
    margin: 30px;
}

#container-rightheader-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#container-rightheader-topright,
#container-rightheader-topleft {
    width: auto;
    display: flex;
    align-items: center;
}

#container-rightheader-topleft {
    color: white;
}

#container-rightheader-bottom {
    z-index: 9;
    margin-top: 180px;
    border-radius: 30px;
    background: #3B556D;
    opacity: 99%;
    box-shadow: 6px 6px 12px #39526a, -6px -6px 12px #3d5870;
    text-align: center;
    font-weight: bold;
}

#liens-profil-card {
    text-decoration: none;
    color: white;
}

/* === Profil user ===*/

#profil-user {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3B556D;
}

#profil-user-modif {
    position: absolute;
    left: 50%;
    top: 110%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3B556D;

}