<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="Public/assets/styles/404style.css">
    <title>404 error </title>
</head>

<body>
    <img src="Public/assets/images/catBg.jpeg" id="img-cat">
    <div id="oops">
        OUPS, ERREUR 404!
    </div>

</body>

</html>